[submodule "Website/cybersecurityweb/react-landing-page-template-2021"]
	path = Website/cybersecurityweb/react-landing-page-template-2021
	url = https://github.com/issaafalkattan/react-landing-page-template-2021.git
